.btns, body .rafiki a, body .banner .banner-text a, body header .navbar .nav-btns .sign-up-btn, body header .navbar .nav-btns .log-in-btn {
  font-family: "inter-medium-500";
  border-radius: 6px;
  text-decoration: none;
}

.btn-colored, body .rafiki a, body .banner .banner-text a, body header .navbar .nav-btns .sign-up-btn, body header .navbar .nav-btns .log-in-btn:hover {
  background-color: #4CAF4F;
  color: white;
}

@media (min-width: 992px) {
  .main-btn-padding, body .rafiki a, body .banner .banner-text a {
    padding: 14px 32px;
  }
}
@media (max-width: 991.98px) {
  .main-btn-padding, body .rafiki a, body .banner .banner-text a {
    padding: 10px 20px;
  }
}

@font-face {
  font-family: "inter-reguler-400";
  src: url("../../assets/web-fonts/Inter-Regular.ttf") format("truetype");
  font-style: normal;
}
@font-face {
  font-family: "inter-medium-500";
  src: url("../../assets/web-fonts/Inter-Medium.ttf") format("truetype");
  font-style: normal;
}
@font-face {
  font-family: "inter-semibold-600";
  src: url("../../assets/web-fonts/Inter-SemiBold.ttf") format("truetype");
  font-style: normal;
}
@font-face {
  font-family: "inter-bold-700";
  src: url("../../assets/web-fonts/Inter-Bold.ttf") format("truetype");
  font-style: normal;
}
body header {
  background-color: #F5F7FA;
}
@media (max-width: 575.98px) {
  body header img {
    width: 120px;
    height: 19px;
  }
}
body header .navbar .navbar-toggler:hover {
  opacity: 0.7;
}
@media (max-width: 767.98px) {
  body header .navbar .navbar-toggler {
    font-size: medium;
  }
}
@media (min-width: 992px) {
  body header .navbar .nav-btns a {
    padding: 10px 20px;
  }
}
@media (max-width: 991.98px) {
  body header .navbar .nav-btns a {
    width: 91px;
    padding: 10px 15px;
  }
}
body header .navbar .nav-btns .log-in-btn {
  color: #4CAF4F;
}
body header .navbar .nav-btns .log-in-btn:hover {
  opacity: 0.7;
}
body header .navbar .nav-btns .sign-up-btn {
  font-size: 14px;
}
body header .navbar .nav-btns .sign-up-btn:hover {
  opacity: 0.7;
}
@media (max-width: 991.98px) {
  body header .navbar .navbar-collapse {
    position: fixed;
    top: 0;
    inset-inline-end: -200px;
    width: 200px;
    height: 100%;
    background-color: #F5F7FA;
    z-index: 1000;
    transition: inset-inline-end 0.3s ease-in-out;
    padding: 20px;
  }
  body header .navbar .navbar-collapse.show {
    inset-inline-end: 0;
  }
}
body header .navbar .navbar-collapse .navbar-nav .nav-link {
  font-size: 16px;
  font-family: "inter-reguler-400";
  color: #18191F;
}
body header .navbar .navbar-collapse .navbar-nav .nav-link:hover {
  opacity: 0.7;
}
body header .navbar .navbar-collapse .navbar-nav .active {
  font-family: "inter-medium-500";
}
@media (max-width: 991.98px) {
  body header .overlay-backdrop {
    position: fixed;
    top: 0;
    inset-inline-start: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: none;
    opacity: 0;
    transition: opacity ease-in-out;
  }
  body header .overlay-backdrop.show {
    display: block;
    opacity: 1;
  }
}
body .banner {
  background-color: #F5F7FA;
}
@media (min-width: 992px) {
  body .banner {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}
@media (max-width: 991.98px) {
  body .banner {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
body .banner .banner-text h1 {
  font-family: "inter-semibold-600";
}
@media (min-width: 1200px) {
  body .banner .banner-text h1 {
    font-size: 64px;
  }
}
@media (min-width: 576px) and (max-width: 1199.98px) {
  body .banner .banner-text h1 {
    font-size: 50px;
  }
}
body .banner .banner-text h1 > *:not(span) {
  color: #18191F;
}
body .banner .banner-text h1 span {
  color: #4CAF4F;
}
body .banner .banner-text p {
  font-family: "inter-reguler-400";
  color: #717171;
}
@media (min-width: 992px) {
  body .banner .banner-text p {
    font-size: 16px;
  }
}
@media (max-width: 991.98px) {
  body .banner .banner-text p {
    font-size: 12px;
  }
}
body .banner .banner-text a {
  font-size: 16px;
}
body .banner .banner-text a:hover {
  opacity: 0.7;
}
body .community h2 {
  font-family: "inter-semibold-600";
}
@media (min-width: 768px) {
  body .community h2 {
    font-size: 36px;
  }
}
@media (max-width: 575.98px) {
  body .community h2 {
    font-size: 20px;
  }
}
body .community h2 > *:not(span) {
  color: #4D4D4D;
}
body .community h2 span {
  color: #4CAF4F;
}
body .community p {
  font-family: "inter-reguler-400";
  font-size: 16px;
  color: #717171;
}
body .community div {
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 50px;
}
@media (min-width: 1200px) {
  body .community div {
    gap: 110px;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  body .community div {
    gap: 70px;
  }
}
body .community div h3 {
  font-family: "inter-bold-700";
  color: #4D4D4D;
}
@media (min-width: 768px) {
  body .community div h3 {
    font-size: 28px;
  }
}
body .community div .description {
  font-family: "inter-reguler-400";
  font-size: 14px;
  color: #717171;
}
body .rafiki h3 {
  font-family: "inter-semibold-600";
}
@media (min-width: 768px) {
  body .rafiki h3 {
    font-size: 36px;
  }
}
@media (max-width: 575.98px) {
  body .rafiki h3 {
    font-size: 20px;
  }
}
body .rafiki h3 > *:not(span) {
  color: #4D4D4D;
}
body .rafiki h3 span {
  color: #4CAF4F;
}
body .rafiki p {
  font-family: "inter-reguler-400";
  font-size: 14px;
  color: #717171;
}
body .rafiki a {
  font-size: 16px;
}
body .rafiki a:hover {
  opacity: 0.7;
}
body .achievements {
  background-color: #F5F7FA;
}
body .achievements h3 {
  font-family: "inter-semibold-600";
}
@media (min-width: 768px) {
  body .achievements h3 {
    font-size: 36px;
  }
}
@media (max-width: 575.98px) {
  body .achievements h3 {
    font-size: 20px;
  }
}
body .achievements h3 > *:not(span) {
  color: #4D4D4D;
}
body .achievements h3 span {
  color: #4CAF4F;
}
body .achievements .description {
  font-size: 16px;
  font-family: "inter-reguler-400";
  color: #18191F;
}
body .achievements h4 {
  font-family: "inter-bold-700";
  color: #4D4D4D;
}
@media (min-width: 768px) {
  body .achievements h4 {
    font-size: 28px;
  }
}
body .achievements p {
  font-family: "inter-reguler-400";
  font-size: 16px;
  color: #717171;
}
body .achievements img {
  margin-right: 10px;
}
@media (max-width: 575.98px) {
  body .achievements .achievements-rows {
    gap: 50px;
  }
}
@media (min-width: 576px) {
  body .achievements .achievements-row {
    gap: 100px;
  }
}
@media (max-width: 575.98px) {
  body .achievements .achievements-row {
    gap: 50px;
  }
}/*# sourceMappingURL=main.css.map */