@import "../sass/helpers/variables";
@import "../sass/helpers/mixins";
@import "../sass/helpers/extends";
@import "../sass/helpers/fonts";
body{
    header{
        background-color: $bg-color;
        img{
            @extend .logo-size;
        }
        .navbar{
            .navbar-toggler{
                &:hover{
                    opacity: .7;
                }
                @media (max-width: 767.98px){
                    font-size: medium;
                }
            }
            .nav-btns{
                a{
                    @media (min-width:992px) {
                        padding: $p-10px $p-20px;
                    } 
                    @media (max-width:991.98px) {
                           width: 91px;
                           padding: $p-10px $p-15px;          
                    }
                }
                .log-in-btn{
                    @include btn-not-colored($size-14,$primary-color);   
                }
                .sign-up-btn{
                    @include btns-colored($size-14);
                }
            }
            .lang-btn{
                @include btn-not-colored($size-14,$primary-color)
            }
            .navbar-collapse{
                @media (max-width: 991.98px) {     
                    position: fixed;  
                    top: 0;
                    inset-inline-end: -$menu-width; 
                    width: $menu-width;
                    height: 100%;
                    background-color: $bg-color;
                    z-index: 1000;      
                    transition: inset-inline-end $animation-duration ease-in-out;
                    padding: $p-20px;
                    &.show {
                        inset-inline-end: 0; 
                    }
                }
                .navbar-nav{
                    .nav-link{
                        @include dark-text;
                        &:hover{
                            opacity: .7;
                        }
                    }
                    .active{
                        font-family: $inter-medium-500;
                    }
                }
            }      
        }
        .overlay-backdrop {
            @media (max-width: 991.98px) { 
                position: fixed;
                top: 0;
                inset-inline-start: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.5);
                z-index: 999;  
                display: none; 
                opacity: 0;
                transition: opacity  ease-in-out;
                &.show {
                  display: block;
                  opacity: 1;
                }   
            }
        }
    }
   .banner{
    background-color: $bg-color;
    @media (min-width:992px) {
        padding-top: $banner-padding;
        padding-bottom: $banner-padding;
    }
    @media (max-width:991.98px) {
        padding-top: $banner-padding-down-lg;
        padding-bottom: $banner-padding-down-lg;
        img{
             width: 60%;
            height: auto;
        }
    }
    .banner-text{
        h1{
            @include banner-h1;
            & > *:not(span)  {
                color:$dark-text-color;
            }
            span{      
                color: $primary-color;
        }
        }    
        p{
           @include description($size-16);
        }
        a{
            @include btns-colored($size-16);
           @media (min-width:576px) {
            @include btn-size($width-128px,$height-52px);
           }
            @media (max-width:575.98px) {
                @include btn-size($width-100px,$height-40px);  
            }
        }
    }
   }
   .community{
    margin-bottom: 50px;
    h2{
        @include font-600-36;
    }
    p{
        @include description($size-16);
    }
    div{
        @media(min-width:1200px) {
            gap: 110px;
        }
        @media (min-width:992px)and (max-width:1199.98px) {
            gap:70px;
        }
        .community-part{
        padding-inline-start: 30px;
        padding-inline-end: 30px;
        .icons{
            position: relative;
            img:first-child{
                position:absolute; 
                margin-inline-start: 10px;
                z-index: -1;
            }
            img:last-child{
                position: relative;
                top:4px;
                z-index: 1;
            }
        }
        h3{
            @include font-700-28;
        }
        .description{
            @include description($size-14);        
        }
        }     
    }
   }
   .rafiki,.calender{
    h3{
        @include font-600-36;
    }
    p{
        @include description($size-14);
    }
    a{
        @include btns-colored($size-16);
       // @extend .main-btn-padding;
       @media (min-width:576px) {
        @include btn-size($width-151px,$height-52px);
       }
        @media (max-width:575.98px) {
            @include btn-size($width-120px,$height-40px);  
        }         
    }
   }
   .achievements{
    background-color: $bg-color;
    padding-top: $p-20px;
    padding-bottom: $p-20px;
    .header{
        @include font-600-36;
    }
    .description{
        @include dark-text;
    }
    .number-header{
        @include font-700-28;
    }
    p{
        @include description($size-16);
    }
    .achievements-img{
        width: 48px;
        height: 48px;
        margin-right: 10px;
    }
   .achievement-description{
    width: 117px;
   }
   }
   footer{
    background-color: $footer-bg;
    a{
        img{
            @extend .logo-size;
        }
    }
    p{
        @include font-inter-400($size-14,$bg-color)
    }
    .social-icons{
        a{
            padding-inline-end: $p-10px;
            &:hover{
                opacity: .7;
            }
            img{
                width: 32px;
                height: 32px;        
            }
        }  
    }
    h4{
        @include font-inter-600($size-20,$white);
    }
    a{
        @include font-inter-400($size-14,$bg-color);
        text-decoration: none;
        &:hover{
            opacity: .7;
        }
    }
    .form-div{
        width: 255px;
        .input-group{
            .form-control{ 
                border-color:  rgba(255, 255, 255, 0.2); ;  
                background-color: rgba(255, 255, 255, 0.2); 
                &::placeholder{
                    @include font-inter-400($size-14,$mail-input-text);
                }
            }  
            button{
                background-color: rgba(255, 255, 255, 0.2);     
                img{
                    width: 17px;
                    height: 17px;
                }
            }
        }
    }  
    hr{
        color: $bg-color;
    }
   }
}