.btns{
    font-family: $inter-medium-500;
    border-radius: 6px;
    text-decoration: none;
}
.btn-colored{
    background-color: $primary-color;
    color: $white;
}
.logo-size{
    @media (max-width:575.98px) {
        width: 120px;
        height: 19px;
    }
}