@font-face {
    font-family: $inter-reguler-400;
    src: url('../../assets/web-fonts/Inter-Regular.ttf') format('truetype');     
    font-style: normal; 
}
@font-face {
    font-family: $inter-medium-500;
    src: url('../../assets/web-fonts/Inter-Medium.ttf') format('truetype');     
    font-style: normal; 
}
@font-face {
    font-family: $inter-semibold-600;
    src: url('../../assets/web-fonts/Inter-SemiBold.ttf') format('truetype');     
    font-style: normal; 
}
@font-face {
    font-family: $inter-bold-700;
    src: url('../../assets/web-fonts/Inter-Bold.ttf') format('truetype');     
    font-style: normal; 
}
