@mixin btns-colored($font-size){
    @extend .btns;
    @extend .btn-colored;
    font-size: $font-size; 
    &:hover{
        opacity: .7;
    }
}
@mixin btn-not-colored($font-size,$color){
    color: $color;
    @extend .btns;
    &:hover{
        @extend .btn-colored;
        opacity: .7;
    }
}
@mixin dark-text{
    font-size:$size-16;
    font-family: $inter-reguler-400;
    color: $dark-text-color;
}
@mixin banner-h1{
    font-family: $inter-semibold-600;
    @media (min-width:1400px) {
        font-size: $size-64;
    }
    @media (min-width:576px) and (max-width:1399.98px) {
        font-size: $size2-h1;
    }   
}
@mixin text($size,$size2,$color,$font-family){
    font-family: $font-family;
    @media (min-width:992px) {
        font-size: $size;
    }
    @media (max-width:991.98px) {
        font-size: $size2;
    }    
    color:$color;
}
@mixin font-600-36{
    font-family: $inter-semibold-600;
    @media (min-width:768px) {
        font-size: $size-36;
    } 
    @media (max-width:575.98px) {
        font-size: $size-20;
    }
    & > *:not(span)  {
        color: $secondary-color;
    }
    span{  
        color: $primary-color;
    }   
}
@mixin font-700-28{
    font-family: $inter-bold-700;
    @media (min-width:768px) {
        font-size: $size-28;
    }     
    color: $secondary-color;
}
@mixin description($size){
    font-family: $inter-reguler-400;
    font-size: $size;
    color:$light-gray;
}
@mixin font-inter-400($size,$color){
    font-family: $inter-reguler-400;
    font-size: $size;
    color:$color;
}
@mixin font-inter-600($size,$color){
    font-family: $inter-semibold-600;
    font-size: $size;
    color:$color;
}
