// colors
$primary-color:#4CAF4F;
$dark-text-color:#18191F;
$secondary-color:#4D4D4D;
$light-gray:#717171;
$bg-color:#F5F7FA;
$footer-bg:#263238;
$white:#ffffff;
$mail-input-text:#D9DBE1;
//font family
$inter-reguler-400:'inter-reguler-400';
$inter-medium-500:'inter-medium-500';
$inter-semibold-600:'inter-semibold-600';
$inter-bold-700:'inter-bold-700';
//font sizes
$size-14:14px;
$size-12:12px;
$size-16:16px;
$size-28:28px;
$size-20:20px;
$size-36:36px;
$size-64:64px;
$size2-h1:50px;
// navbar-collapse
$menu-width: 200px;                
$animation-duration: 0.3s;          
//padding
$p-10px:10px;
$p-14px:14px;
$p-15px:15px;
$p-20px:20px;
$p-32px:32px;
$banner-padding:70px;
$banner-padding-down-lg:40px;

